body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    font-family: "poppins", sans-serif;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

ul {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;
    padding-right: 40px;
}

.menu ul li a{
    padding: 10px;
}

.btn {
    display: inline-block;
    background: #161515;
    border-radius: 40px;
    transition: 0.5s;
    font-weight: 600;
    color: aliceblue;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background: aliceblue;
    color: #161515;
}